<header>
  <div class="container" >
    {% if page.title %} 
      <h1 style="margin-bottom: 5px;">{{ page.title }}</h1>
    {% elsif layout.title %} 
      <h1 style="margin-bottom: 5px;">{{ layout.title }}</h1>
    {% else %}
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.show_downloads %}
          <section id="downloads">
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </section>
        {% endif %}
    {% endif %}
    {% if layout.is_post %}
      <h2>by {{ page.author | default: site.author }}</h2>
      <h6>{{ page.date | date: "%-d %B %Y" }}</h6>
    {% endif %}
  </div>
</header>