<div id="this-nav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color:green;">&times;</a>
	<i class="fas fa-terminal"></i>
	{% for link in site.navbar-links %}
		{% if link[0] %}
			{% if link[0] == "Categories" %}
				<button class="dropdown-btn">{{ link[0] }}<i class="fa fa-caret-down"></i></button>
				<div class="dropdown-container">
					{% for category in site.categories %}
						<a href="{{link[1]}}{{ category[0] }}/">{{ category[0] }}</a>
					{% endfor %}
				</div>
			{% else %}
				<a class="sidenav" href="{{link[1]}}" >{{link[0]}}</a>
			{% endif %}
		{% endif%}
	{% endfor %}
</div>
<script type="text/javascript">
	//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;
	for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
			  dropdownContent.style.display = "none";
			} else {
			  dropdownContent.style.display = "block";
			}
		});
	}


	function openNav() {
	    document.getElementById("this-nav").style.width = "250px";
	    document.getElementById("main_content").style.marginLeft = "250px";
	    document.getElementById("footer").style.marginLeft = "250px";
	    document.getElementById("header").style.marginLeft = "250px";
	    document.getElementById("menu-btn").style.visibility = "hidden";
	}

	function closeNav() {
	    document.getElementById("this-nav").style.width = "0";
	    document.getElementById("main_content").style.marginLeft= "0";
	    document.getElementById("footer").style.marginLeft = "0";
	    document.getElementById("header").style.marginLeft = "0";
	    document.getElementById("menu-btn").style.visibility = "visible";
	}

</script>