$apple-blossom: #ed5355;
$alto: #d0d0d0;
$bouquet: #ff1ea8;
$chelsea-cucumber: #7eaf11;
$cod-grey: #151515;
$conifer: #adf920;
$dove-grey: #697f8c;
$gallery: #a3a3a3;
$grey: grey;
$gulf-stream: #a3ffe8;
$hippie-blue: #5ed1ff;
$potters-clay: #ba521a;
$rajah: #ff990c;
$raw-sienna: #aa5b1b;
$silver-chalice: #919191;
