@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin-right: auto;
  padding: 0;
  width: 100%;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 70%;
  margin-left: 200px;
  max-width: 100%;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

// li {
//   line-height: 1.4 ;
// }

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  border-bottom: 1px dashed $conifer; //header;
  // padding: 20px 0;
  // margin: 0 0 40px 0;
  margin-top: 20px;
  margin-left: 100px;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.2),
           0 0 10px rgba(181, 232, 83, 0.7);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  content: "./ ";
  font-size: 26px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: cyan;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
          0 0 5px rgba(130, 180, 250, 0.2),
          0 0 10px rgba(130, 180, 250, 0.7);
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 50px;
  width: 100%;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../images/bullet.png');
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

// a {
//   color: #63c0f5;
//   text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
// }

a {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}


div.sidenav {
  height: 100%; 
  width: 200px;
  position: fixed;
  z-index: 1;
  margin: auto;
  top: 0;
  left: 0;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px dashed $conifer;
}

a.sidenav {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  color: #b5e853;
  display: block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.2),
           0 0 10px rgba(181, 232, 83, 0.7);
}

a.sidenav:hover {
  color: #BDFF7F;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
       // 0 0 5px #BDFF7F,
       0 0 10px #BDFF7F;
}

i {
  color: #b5e853;
  padding: 6px 8px 20px 30px;
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.2),
           0 0 10px rgba(181, 232, 83, 0.7);
}

.footer {
  left: 0;
  position: fixed;
  bottom: 0;
  margin-left: 260px;/* Same as the width of the sidenav */
  size: 14px;
}

a.myButton:before {
  font-family: FontAwesome;
  content: "\f02b";
}

a.myButton {
  display: block;
}

.myButton {
  background-color: #24de55 !important;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  display: inline-block;
  cursor: pointer;
  color: white !important;
  font-size: 11px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  text-shadow: 0px 1px 5px #3fa32f !important;
}

div.myButton {
  margin: 3px;
}

.myButton:hover {
  background-color:#41fc37;
  color: white;
}
.myButton:active {
  position:relative;
  top:1px;
  background-color: light-blue;
  color: white;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 14px;
  text-align: left;
  color: #b5e853;
  display: block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.2),
           0 0 10px rgba(181, 232, 83, 0.7);
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #BDFF7F;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
      0 0 10px #BDFF7F;
}

.fa-caret-down {
  font-size: 14px;
  float: right;
  padding: 2px 8px 6px 20px;
}

.active  {
  background-color: green;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
      0 0 5px white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

@media screen and (max-width: 600px) {
  .sidenav {display: none;}
  .container {margin-left: 0;}
  .footer {margin-left: 20px;}
}  

@media screen and (max-width: 500px) {
  header {margin-left: 40px;}
  header h1 {font-size: 20px;}
  header h2 {font-size: 12px;}
  header h1:before {font-size: 16px;}
}

@media all and (min-width: 50px) and (max-width: 100px)  { body { font-size:0.1em; } .footer { font-size:0.1em; }}
@media all and (min-width: 100px) and (max-width: 300px) { body { font-size:0.4em; } .footer { font-size:0.2em; }}
@media all and (min-width: 300px) and (max-width: 500px) { body { font-size:0.5em; } .footer { font-size:0.2em; }}
@media all and (min-width: 500px) and (max-width: 600px) { body { font-size:0.7em; } .footer { font-size:0.5em; }}
@media all and (min-width: 600px) and (max-width: 700px) { body { font-size:0.8em; } .footer { font-size:0.6em; }}
@media all and (min-width: 700px) and (max-width: 800px) { body { font-size:0.8em; } .footer { font-size:0.7em; }}
@media all and (min-width: 800px) and (max-width: 900px) { body { font-size:0.9em; } .footer { font-size:0.9em; }}
@media all and (min-width: 900px) and (max-width: 1700px) { .footer { font-size:1.0em; }}
@media all and (min-width: 1700px) { .container { font-size:2.0em; } }