---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: auto;
    max-width: 100%;
    text-align: center;
  }
  h1 {
    margin-top: 60px;
    margin-left: 60px;
    line-height: 1.1;
    font-size: 1.5em;
    letter-spacing: -1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.7),
           0 0 10px rgba(181, 232, 83, 0.7);
  }
  h2 {
    margin-top: 60px;
    line-height: 1.5;
    margin-left: 60px;
    letter-spacing: -1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.7),
           0 0 10px rgba(181, 232, 83, 0.2);
  }
  h3{
    margin-top: 20px;
    line-height: 1.5;
    margin-left: 60px;
    letter-spacing: -1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
           0 0 5px rgba(181, 232, 83, 0.7),
           0 0 10px rgba(181, 232, 83, 0.2);
  }
</style>

<div class="container">
  <h1>
  __________/\\\_________/\\\\\\\_______________/\\\_____________
  _________/\\\\\_______/\\\/////\\\___________/\\\\\____________
  ________/\\\/\\\______/\\\____\//\\\________/\\\/\\\___________
  _______/\\\/\/\\\_____\/\\\_____\/\\\______/\\\/\/\\\__________
  ______/\\\/__\/\\\_____\/\\\_____\/\\\____/\\\/__\/\\\_________
  _____/\\\\\\\\\\\\\\\\__\/\\\_____\/\\\__/\\\\\\\\\\\\\\\\_____
  _____\///////////\\\//___\//\\\____/\\\__\///////////\\\//_____
  ________________\/\\\______\///\\\\\\\/_____________\/\\\______
  _________________\///_________\///////_______________\///______
  </h1>

  <h2><strong>Page not found :(</strong></h2>
  <h3>The requested page could not be found.</h3>
</div>
