---
layout: default
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<!--     {% include head.html %} -->

    {% include header.html %} 

    <div class="container">
      <section id="main_content">
        <h1>Latest Post</h1>
		{% for post in site.posts limit:1 %}
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			<h2>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<p>{{ post.excerpt }}</p>
		{% endfor %}
		<h1>Recent Posts</h1>
		{% for post in site.posts offset:1 limit:2 %}
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			<h2>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<p>{{ post.excerpt }}</p>
		{% endfor %}
      </section>
    </div>

    {% include footer.html %}
</html>