---
layout: index
title: Tags
permalink: /tags/
---

<div class="tags-page-buttons">
{% for tag in site.tags %}
	{% if tag[0] == page.tag %}
		<div class="myButton active-button"> 
			<a class="myButton active-button" href="/blog/tags/{{ tag[0] }}"><i class="fas fa-tag" style="font-size: 1em; padding: 0px; margin: 0px; color: white;"></i><span style="padding-left: 5px;"><strong>{{ tag[0] }}</strong></span></a>
		</div>
	{% else %}
		<div class="myButton"> 
			<a class="myButton" href="/blog/tags/{{ tag[0] }}"><i class="fas fa-tag" style="font-size: 1em; padding: 0px; margin: 0px; color: white;"></i><span style="padding-left: 5px;"><strong>{{ tag[0] }}</strong></span></a>
		</div>
	{% endif %}
{% endfor %}
</div>
{{ content }}